body {
  background-image: url(img/fundo4.jpg);
  background-size: cover; /* A imagem cobre todo o elemento */
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color:white;
}

li {
  color:whitesmoke;
  font-size: 20px;
}

p{
  font-size: 18px;
  color:whitesmoke
}




body {
  font-family: Gamtext, sans-serif;
}

table, th, td {
  background-color: rgba(201, 212, 223, 0.267);
  border: 1px solid rgb(0, 0, 0);
}