body {
  background-image: url(img/smashfundo.jpg);
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color:white;
}

li {
  color:whitesmoke;
  font-size: 20px;
}

p{
  font-size: 18px;
  color:aliceblue
}




body {
  font-family: Gamtext, sans-serif;
}

table, th, td {
  background-color: rgba(201, 212, 223, 0.267);
  border: 1px solid rgb(0, 0, 0);
}

.joao-saito-fez-isso {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}